body {
    margin:0px;
    padding:0px;

    display:flex;
    flex-direction:column;
    gap:10px;
    background-color:#cccccc;
}

header {
    height:150px;
    display:flex;
    justify-content:center;
    gap:40px;
    align-items:center;
    background-color:bisque;
}

#content {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

nav {
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:2rem;
    width:200px;
    height:90%;
    background-color:white;
}

.main {
    width: max(80vw, 900px);
    height:auto;
    padding:10px;
    background-color: paleturquoise;
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:10px;
    align-items:center;
}

.main-header {
    text-align:center;
    font-size:3rem;
}

h1 {
    text-align:center;
}

.box {
    width: 50%;
    height:auto;
    background-color:white;
    border-style: solid;
    border-width: 5px;
    padding:5px;
    border-radius:10px;
}
